.eventActions {
	position: absolute;
	top: 0;
	right: 40px;
	display: flex;
	justify-content: right;
}

.action {
	padding: 15px 5px;
	color: var(--primary-color);
	font-size: 2rem;
	background-color: transparent;
}

.save {
}

.edit {
}

.delete {
}
