.popup {
	position: absolute;
	z-index: 2;
	width: 240px;
	min-height: 150px;
}

.popupContent {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 30px auto;
	padding: 40px 20px 30px;
	border: 1px solid var(--sub-light-color);
	background-color: var(--primary-white);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	color: var(--primary-color);
	font-size: 2.8rem;
	background-color: transparent;
}

.title {
	font-size: 2.3rem;
	font-weight: 600;
}

.time {
	display: flex;
	justify-content: space-between;
	font-size: 1.6rem;
	color: var(--primary-font-color);
}

@media (max-width: 480px) {
	.popup {
		left: 50% !important;
		transform: translateX(-50%) !important;
		-webkit-transform: translateX(-50%) !important;
		-moz-transform: translateX(-50%) !important;
		-ms-transform: translateX(-50%) !important;
		-o-transform: translateX(-50%) !important;
	}

	.popupContent {
		box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
	}
}
