.form {
}

.form label {
	display: block;
	margin: 10px 0;
}

.form input,
.form textarea {
	font-family: inherit;
	width: 100%;
	border: 0;
	border-bottom: 2px solid var(--primary-color);
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}

.form textarea {
	min-height: 100px;
	background-color: var(--sub-light-color);
}
