/* fullCalendar custom */
.fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:first-child {
	margin-left: 60px;
}
.fc-toolbar-title {
	font-size: 1.5rem;
	color: var(--sub-dark-blue);
}

.fc .fc-button-primary {
	color: var(--sub-blue);
	font-weight: 700;
	background-color: var(--sub-light-blue);
	border: 0;
}

.fc .fc-button-group > .fc-button.fc-button-active {
	color: var(--primary-white);
	background-color: var(--sub-blue);
}

.fc .fc-button-primary:hover {
	color: var(--sub-blue);
	background-color: var(--sub-light-blue);
}

.fc-h-event {
	background-color: var(--sub-blue);
}

.fc .fc-button-primary:disabled {
	color: var(--primary-white);
	background-color: var(--primary-gray2);
}

.fc .fc-daygrid-day-number {
	color: var(--primary-font-color);
}

/* datepicker custom */
.react-datepicker-wrapper:first-child {
	margin-right: 10px;
}
.react-datepicker__input-container {
	display: flex !important;
	flex-direction: row-reverse;
	align-items: center;
}

.react-datepicker__tab-loop {
	position: absolute;
	top: 0;
}

.react-datepicker__triangle {
	display: none !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
	width: 2.2rem !important;
	margin: 0.3rem !important;
}

.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
	width: 2.2rem !important;
	margin: 0.3rem !important;
	line-height: 2.2rem !important;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
	border-radius: 50% !important;
	background-color: var(--sub-blue) !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
	border-radius: 50% !important;
	background-color: var(--sub-blue) !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
	border-radius: 50% !important;
	background-color: var(--sub-blue) !important;
}

.react-datepicker__month-container {
	width: 250px;
	font-size: 1.2rem;
}

.react-datepicker__week {
	font-size: 1.2rem;
}
