/* fullCalendar custom */
.fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:first-child {
	margin-left: 60px;
}
.fc-toolbar-title {
	font-size: 1.5rem;
	color: var(--sub-dark-blue);
}

.fc .fc-button-primary {
	color: var(--sub-blue);
	font-weight: 700;
	background-color: var(--sub-light-blue);
	border: 0;
}

.fc .fc-button-group > .fc-button.fc-button-active {
	color: var(--primary-white);
	background-color: var(--sub-blue);
}

.fc .fc-button-primary:hover {
	color: var(--sub-blue);
	background-color: var(--sub-light-blue);
}

.fc-h-event {
	background-color: var(--sub-blue);
}

.fc .fc-button-primary:disabled {
	color: var(--primary-white);
	background-color: var(--primary-gray2);
}

.fc .fc-daygrid-day-number {
	color: var(--primary-font-color);
}

/* datepicker custom */

.react-datepicker {
	border: 0 !important;
}

.react-datepicker__input-container {
	display: flex !important;
	flex-direction: row-reverse;
	align-items: center;
	height: 40px;
}

.react-datepicker__tab-loop {
	position: absolute;
	top: 0;
}

.react-datepicker__triangle {
	display: none !important;
}

.react-datepicker__view-calendar-icon input {
	width: 150px;
	border: 0;
	border-bottom: 1px solid var(--sub-blue);
	background-color: #dde9ef;
}

.react-datepicker__month-container {
	width: 308px;
	font-size: 1.4rem;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.21);
}

.react-datepicker__month {
	min-height: 240px;
	margin: 0 auto !important;
	padding: 20px 10px;
}

.react-datepicker__week {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	font-size: 1.2rem;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
	width: 40px !important;
	height: 40px;
	margin: 0 !important;
	line-height: 3.5rem !important;
}

.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px !important;
	height: 40px;
	margin: 0 !important;
	line-height: 3.5rem !important;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
	border-radius: 50% !important;
	background-color: var(--sub-light-blue) !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
	color: var(--primary-white) !important;
	border-radius: 50% !important;
	background-color: var(--sub-blue) !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
	border-radius: 50% !important;
	background-color: var(--sub-blue) !important;
}

.react-datepicker__day--outside-month {
	color: var(--primary-gray2) !important;
}
