/* fullCalendar custom */
.fc .fc-toolbar.fc-header-toolbar {
	min-width: 600px;
}

.fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:first-child {
	margin-left: 70px;
}

.fc-toolbar-title {
	min-width: 150px;
	font-size: 1.5rem;
	color: var(--primary-font-color);
	word-break: keep-all;
}

.fc .fc-button-primary {
	color: var(--primary-color);
	font-weight: 700;
	background-color: var(--sub-light-color);
	border: 0;
}

.fc-searchButton-button {
	width: 40px;
	height: 40px;
	padding: 10px !important;
	font-size: 2em !important;
	background-color: transparent !important;
	background-image: url("/assets/images/magnifying-glass-solid.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25px 25px;
	border: none;
	cursor: pointer;
}

.fc-searchButton-button > svg {
	color: var(--primary-color);
}

.fc .fc-button-group > .fc-button.fc-button-active {
	color: var(--primary-white);
	background-color: var(--primary-color);
}

.fc .fc-button-primary:hover {
	color: var(--primary-color);
	background-color: var(--sub-light-color);
}

.fc-h-event {
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.fc .fc-button-primary:disabled {
	color: var(--primary-white);
	background-color: var(--primary-gray2);
}

.fc .fc-daygrid-day-number {
	color: var(--primary-font-color);
}

.fc .fc-daygrid-day.fc-day-today {
	background-color: var(--sub-light-color);
}

.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
	color: var(--primary-color);
}

.fc-day-other .fc-event {
	opacity: 0.5;
	color: var(--primary-white);
	background-color: var(--primary-gray2);
	border: 1px solid var(--primary-gray2);
	cursor: default;
	pointer-events: none;
}

.fc-day-other .fc-daygrid-day-bg .fc-highlight {
	opacity: 0.3;
}

.fc-daygrid-event-dot {
	border: calc(var(--fc-daygrid-event-dot-width) / 2) solid var(--primary-color);
}

.fc-theme-standard td,
.fc-theme-standard th {
	overflow: hidden;
}

/* datepicker custom */

.react-datepicker {
	border: 0 !important;
}

.react-datepicker__input-container {
	display: flex !important;
	flex-direction: row-reverse;
	align-items: center;
}

.react-datepicker__tab-loop {
	position: absolute;
	top: 0;
}

.react-datepicker__triangle {
	display: none !important;
}

.react-datepicker__view-calendar-icon input {
	width: 150px;
	height: 40px;
	border: 0;
	border-bottom: 1px solid var(--accent-color);
	background-color: #f0f0f0;
}

.react-datepicker__input-container .react-datepicker__calendar-icon {
	fill: var(--accent-color);
}

.react-datepicker__month-container {
	width: 308px;
	font-size: 1.4rem;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.21);
}

.react-datepicker__month {
	min-height: 240px;
	margin: 0 auto !important;
	padding: 20px 10px;
}

.react-datepicker__week {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	margin-bottom: 5px;
	font-size: 1.2rem;
}
.react-datepicker__week:last-child {
	margin-bottom: 0;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
	width: 40px !important;
	height: 40px;
	margin: 0 !important;
	color: var(--primary-font-color) !important;
	line-height: 4rem !important;
}

.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px !important;
	height: 40px;
	margin: 0 !important;
	line-height: 4rem !important;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
	border-radius: 50% !important;
	background-color: var(--hover-color) !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
	color: var(--primary-white) !important;
	border-radius: 50% !important;
	background-color: var(--primary-color) !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
	color: var(--primary-white) !important;
	border-radius: 50% !important;
	background-color: var(--primary-color) !important;
}

.react-datepicker__day--outside-month {
	color: var(--primary-gray2) !important;
}


@media (max-width: 768px) {
	.react-datepicker__view-calendar-icon input {
		width: 100%;
		font-size: 1.6rem;
	}
}

@media (max-width: 640px) {
	.fc .fc-toolbar.fc-header-toolbar {
		min-width: 100%;
	}
	.fc-toolbar-title {
		min-width: 100px;
		font-size: 1.6rem !important;
	}
}

@media (max-width: 568px) {
	.calendar-container {
		margin-top: 40px;
	}

	.fc .fc-toolbar.fc-header-toolbar {
		position: relative;
		/* flex-direction: row-reverse; */
		width: 100%;
		min-width: unset;
	}

	.fc .fc-button-group > .fc-button {
		padding: 5px 2px;
	}

	.fc .fc-searchButton-button {
		position: absolute;
		top: -45px;
		right: 0;
		background-size: 30px 30px;
	}

	.fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:first-child {
		min-width: 97px;
		margin-left: 0;
	}

	/* .fc .fc-button-group > .fc-button {
		padding: 0.4em 0.65em;
	} */

	.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
		margin-left: 2px;
		padding: 5px 2px;
	}

	.fc-toolbar-title {
		min-width: 80px;
		font-size: 1.4rem !important;
	}
}

@media (max-width: 500px) {
}

@media (max-width: 400px) {
	.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
		padding: 5px 2px;
	}

	.fc .fc-button-group > .fc-button {
		padding: 5px 2px;
	}
}

@media (max-width: 360px) {
	.fc-toolbar-title {
		margin: 0 0 0 20px !important;
	}
}
