/* fullCalendar custom */
.fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:first-child {
	margin-left: 60px;
}
.fc-toolbar-title {
	font-size: 1.5rem;
	color: var(--sub-dark-blue);
}

.fc .fc-button-primary {
	color: var(--sub-blue);
	font-weight: 700;
	background-color: var(--sub-light-blue);
	border: 0;
}

.fc .fc-button-group > .fc-button.fc-button-active {
	color: var(--primary-white);
	background-color: var(--sub-blue);
}

.fc .fc-button-primary:hover {
	color: var(--sub-blue);
	background-color: var(--sub-light-blue);
}

.fc-h-event {
	background-color: var(--sub-blue);
}

.fc .fc-button-primary:disabled {
	color: var(--primary-white);
	background-color: var(--primary-gray2);
}

.fc .fc-daygrid-day-number {
	color: var(--primary-font-color);
}

/* datepicker custom */
.react-datepicker-wrapper:first-child {
	margin-right: 10px;
}
.react-datepicker__input-container {
	display: flex !important;
	flex-direction: row-reverse;
	align-items: center;
}

.react-datepicker__tab-loop {
	position: absolute;
	top: 0;
}

.react-datepicker__triangle {
	display: none !important;
}

.rdp {
	font-family: var(--primary-font);
	padding: 20px;
	background-color: var(--primary-white);
	box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 24px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.rdp:not([dir="rtl"]) .rdp-day_range_start:not(.rdp-day_range_end) {
	border-radius: 100% !important;
	-webkit-border-radius: 100% !important;
	-moz-border-radius: 100% !important;
	-ms-border-radius: 100% !important;
	-o-border-radius: 100% !important;
}

.rdp:not([dir="rtl"]) .rdp-day_range_end:not(.rdp-day_range_start) {
	border-radius: 100% !important;
	-webkit-border-radius: 100% !important;
	-moz-border-radius: 100% !important;
	-ms-border-radius: 100% !important;
	-o-border-radius: 100% !important;
}

.rdp-day_range_middle {
	border-radius: 100% !important;
	-webkit-border-radius: 100% !important;
	-moz-border-radius: 100% !important;
	-ms-border-radius: 100% !important;
	-o-border-radius: 100% !important;
}

.rdp-tfoot {
	position: absolute;
	top: 13px;
	left: 50%;
	min-width: 215px;
	color: var(--primary-gray1);
	font-size: 1.5rem;
	font-weight: 500;
	transform: translateX(-50%);
}

.rdp-day_selected {
	background-color: var(--sub-blue) !important;
}
