.container {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 70px;
	background-color: var(--sub-light-color);
	/* box-shadow: rgba(16, 26, 46, 0.21) 0px 4px 12px; */
	box-shadow: rgba(0, 0, 0, 0.21) 0px 4px 12px 0px;
	transition: transform 0.3s ease-in-out;
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
}

.show {
	opacity: 1;
	visibility: visible;
	z-index: 2;
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
}

.btnContainer {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
}

.goBackBtn {
	font-family: var(--primary-font);
	background-color: transparent;
}

.goBackBtn > svg {
	color: var(--primary-font-color);
}

.goBackBtn + span {
	margin-left: 10px;
	color: var(--primary-font-color);
	font-size: 2rem;
}

@media (max-width: 640px) {
	.btnContainer {
		flex-direction: column;
	}

	.btnInner {
		position: relative;
		width: 100%;
	}
}
