.toggleBtn {
	position: fixed;
	top: 14px;
	right: 150px;
	z-index: 5;
	padding: 10px;
	font-size: 2em;
	background-color: transparent;
}

.toggleBtn > svg {
	color: var(--sub-blue);
}

.toggleBtnClose {
	right: 0;
}
