.text {
	margin-bottom: 40px;
	font-size: 3rem;
}
.countBtn {
	font-family: inherit;
	padding: 10px;
	color: var(--primary-blue);
	font-size: 4rem;
	font-weight: 700;
	background-color: var(--sub-light-blue);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.text code {
	font-family: inherit;
	padding: 10px;
	color: var(--primary-blue);
	font-weight: 700;
	background-color: var(--sub-light-blue);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.showDetailBtn {
	font-family: inherit;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.6rem;
	color: var(--primary-blue);
	font-weight: 700;
	border: 1px solid var(--primary-blue);
	background-color: var(--primary-white);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	cursor: pointer;
}
