.container {
  font-family: var(--primary-font);
  position: relative;
  display: flex;
  z-index: 2;
  width: calc(100% - 250px);
  height: 50px;
}

.inputBar {
  font-family: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* width: 100%; */
  width: 800px;
  padding: 5px 20px;
  font-weight: 700;
  border: 1px solid var(--accent-color);
  background-color: var(--primary-white);
  border-radius: 5px;
}

.inputBar > div:first-child {
  flex-basis: 100%;
  min-width: 360px;
  margin-top: -7px;
}

.inputBar > svg {
  position: absolute;
  right: 20px;
  font-size: 2em;
  color: var(--accent-color);
}

.inputBar .dash {
  margin: 0 8px;
  font-size: 3rem;
  font-weight: 400;
  color: var(--primary-gray1);
}

.btnContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.searchBtn {
  font-family: inherit;
  height: 40px;
  padding: 10px;
  border: 1px solid var(--primary-gray2);
  border-radius: 5px;
  cursor: default;
}

.resetBtn {
  font-family: inherit;
  height: 40px;
  padding: 10px;
  border: 1px solid var(--primary-gray2);
  border-radius: 5px;
  cursor: default;
}

.btnActive {
  font-family: inherit;
  height: 40px;
  padding: 10px;
  color: var(--primary-white);
  font-weight: 700;
  border-radius: 5px;
  background-color: #8397c4;
  box-shadow: rgba(16, 26, 46, 0.21) 0px 4px 12px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.closeIcon {
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 2rem;
  background-color: transparent;
}

@media (max-width: 1024px) {
  .container {
    width: calc(100% - 130px);
  }
}

@media (max-width: 960px) {
  .inputBar {
    width: 100%;
  }

  .btnContainer button {
    padding: 2px 5px;
    word-break: keep-all;
  }
}

@media (max-width: 768px) {
  .container {
    min-height: 50px;
    height: 100%;
  }

  .inputBar {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .inputBar > div:first-child {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: unset;
    margin-top: 1px;
  }

  .btnContainer {
    justify-content: center;
  }

  .btnContainer button {
    width: 50%;
  }
}

@media (max-width: 640px) {
  .container {
    width: 100%;
  }

  .inputBar > div:first-child {
    flex-direction: column;
  }

  .inputBar .dash {
    opacity: 0;
    height: 0;
    margin-bottom: 10px;
  }
}
